<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	To contact our reporter, just give a yell. Our top reporter will be there as quick as a bullet.
</body>
</html>