<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/site/article" method="POST">
  <p>
    <label for="summary">Article Summary: </label>
    <input type="text" name="article[summary]" id="summary">
  </p>

  <input type="submit" value="Submit">
  </form>
</body>
</html>