<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQNSOBw-MSa7HA51VPBR2acvMwv96n3xB3W8WpKxrlkQNLXvYqJGg" alt="" id = "img1">
<br>
	Welcome to the Daily Planet
	<br>
	<br>
<ul>
	<li> <a href="/site/articles"> Summary of all the articles </a> </li>
	<li> <a href="/site/new"> Submit your own article</a> </li>
	<li><a href="/about"> About us</a> </li>
	<li><a href="/contact"> Contact Us</a> </li>
</ul>
</body>
</html>

